@page
@model IndexModel
@{
    ViewData["Title"] = "Demo Application 28";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">SampleApplication by Gandikota</h2>
    <p>Azure-focused DevOps Engineer skilled in CI/CD pipelines, PowerShell automation, and database management</p>
</div>
